.right-content
  .content-heading
    %p.main-group-name 
      =@group.name
    %p.main-member-name
      - @group.members.each do |member|
        = member.user.name
    .edit
      = link_to edit_group_path(@group.id) do
        Edit
  .content-main
    = render partial: 'message', collection: @messages
      
  .content-footing
    .input-area
      = form_for([@group, @message], html: { id: 'new_input' }) do |f|
        .input-box
          = f.text_field :body, placeholder: 'メッセージを入力してください', style: "border: none", id: 'input'
          = f.label :image do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        .send
          = f.submit value: 'Send', class: 'send-button', style: 'border: none'
= render partial: 'groups/sideblock'