
%header.header
  %p グループを作成しました
  
.right-content
  .content-heading
    %p.main-group-name main-group-name
    %p.main-member-name main-member-name
    .edit Edit
  .content-main
    .message
      = render partial: "main"
      = render partial: "main"
  .content-footing
    .input-area
      =form_for [@group, @message] do |f|
        .input-box
          = f.text_field :body, placeholder: 'メッセージを入力してください', style: "border: none"
          = f.label :image do
            %i.fas.fa-image
            = f.file_field :image, style: 'display:none'
        .send
          = f.submit value: 'Send', class: 'send-button', style: 'border: none'

= render partial: 'groups/sideblock'