%header.header
  %p グループを作成しました
.right-content
  .content-heading
    %p.text1 text1
    %p.text2 text2
    .edit Edit
  .content-main
    .message
      = render partial: "main"
      = render partial: "main"
  .content-footing
    .input-box
      %p.text6 text6
      %form
        %label
          %i.fas.fa-image
          %input{ type: "file", style: "display:none"}
    .send send

.left-content
  .user
    .user-box
      %p.user-name user-name
      .icons
        = link_to root_path do
          %i.far.fa-edit
        = link_to root_path do
          %i.fa.fa-cog
  .group
    = render partial: "side"
    = render partial: "side"